{% extends 'sistema/base.html' %}
{% load filtros %}
{% block title %}Lista de Locações{% endblock %}

{% block content %}
<h2>Locações Realizadas</h2>

<table class="table table-bordered table-striped">
    <form method="get" class="row mb-4">
        <div class="col-md-4">
          <input type="text" name="cliente" placeholder="Buscar por cliente" value="{{ cliente_filtro }}" class="form-control">
        </div>
        <div class="col-md-3">
          <input type="date" name="data" value="{{ data_filtro }}" class="form-control">
        </div>
        <div class="col-md-3">
          <button type="submit" class="btn btn-primary">Filtrar</button>
          <a href="{% url 'listar_locacoes' %}" class="btn btn-secondary">Limpar</a>
        </div>
      </form>
      
    <thead>
        <tr>
            <th>Cliente</th>
            <th>Brinquedos</th>
            <th>Período</th>
            <th>Valor Total</th>
            <th>Status Pagamento</th>
            <td>Ações</td>
        </tr>
    </thead>
    <tbody>
        {% for locacao in locacoes %}
        <tr>
            <td>{{ locacao.cliente.nome }}</td>
            <td>
                <ul>
                    {% for brinquedo in locacao.brinquedos.all %}
                    <li>{{ brinquedo.nome }}</li>
                    {% endfor %}
                </ul>
            </td>
            <td>{{ locacao.data_inicio|formata_data_extenso }} a {{ locacao.data_fim|formata_data_extenso }}</td>
            <td>R$ {{ locacao.valor_total }}</td>
            <td>{{ locacao.get_status_pagamento_display }}</td>
            <td>
                <a href="{% url 'editar_status_pagamento' locacao.id %}" class="btn btn-sm btn-outline-primary">Editar</a>
            </td>
            <td>
                <a href="{% url 'enviar_confirmacao_whatsapp' locacao.id %}" class="btn btn-success btn-sm" target="_blank">Enviar WhatsApp</a>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="5" class="text-center">Nenhuma locação encontrada.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<a href="{% url 'agendar_locacao' %}" class="btn btn-primary">Nova Locação</a>
{% endblock %}
